@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.sidebarContent{
    display: flex;
    flex-direction: column;
    justify-items: left;
    /* text-align: left; */
 
}
.sidebarContent img{
    width: 10%;
    height: auto;
    /* background-color: antiquewhite; */
}
.container{
    display: flex;
    flex-direction: row;
    color: #FFF;

    /* SideBarHeader */
    font-family: 'poppins', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 90;
    line-height: normal;
    height: 100%;
}
.container1{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #00004D;
    gap: 3%;
    padding-top: 2%;
    padding-bottom: 13%;
}
.button2:hover{
background-color: rgb(189, 192, 195);
}
#logOut{
    margin-top: 80%;
    align-items: baseline;
}