@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 2%;
    margin: 2% 2%;
}
.section1Text, .section1Image{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
span{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h4{
    color: #00004D;
font-family: 'Lato', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section1Image img{
    width: 100%;
    height: auto;
}