.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-header {
    margin-top: 10%;
    background-color: #007bff;
    color: white;
    padding:10%;
    text-align: center;
  }
  
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f1f1f1;
  }
  
  .chat-message {
    margin-bottom: -10%;
    padding: 1%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .message-sender {
    font-weight: bold;
  }
  
  .message-text {
    margin: 5px 0;
  }
  
  .message-timestamp {
    font-size: 0.8em;
    color: #888;
    text-align: right;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .chat-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }