@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.userView{
display: flex;
flex-direction: column;
}
.sideSection{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.alto{
    width: 23%;
}
.tenor{
    width: 77%;
}