@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.section{
        /* gap: 5%; */
        overflow: hidden;
        width: 100%;
        height: auto;
}
.subsection{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
     gap: 1.5%;  
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
h2{
    text-align: left;
}

.scroll-section {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/* 
.left-to-right {
    animation: scroll-left-to-right 15s linear infinite;
}

.right-to-left {
    animation: scroll-right-to-left 15s linear infinite;
}

@keyframes scroll-left-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes scroll-right-to-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */