@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.backgroundOnclick{
    border-radius: 35px;
    background-color: rgba(244, 244, 244, 0.40);
}
.background{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFF;
    gap: 5%;
    cursor: pointer;
    background-color: #00004D;
    border: none;

/* SideBarText */
font-family: 'Lato', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
    
}
.background:hover{
    background-color: #808091;
    border-radius: 5%;
}

.button1{
    border-radius: 25px;
    background: var(--ButtonTextColor, #FFF);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2% 2%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    color: #00004D;
/* NavLinks */
font-family: 'Poppins', sans-serif;
/* font-size: 24px; */
font-style: normal;
font-weight: 600;
line-height: normal;
   }