@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.backgroundOnclick{
    border-radius: 35px;
    background-color: rgba(244, 244, 244, 0.40);
}
img{
    width: 50%;
    height: auto;
}